.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 700px;
  padding: 32px;
  position: relative;
  @media(max-width: 768px){
    width: 100%;
  }
}
.list{
  display: flex;
  flex-direction: column;
}
