.wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  @media(max-width: 768px){
   flex-direction: column;
  }
}
.title{
  font-size: 28px;
  margin: 0;
  padding: 0;
}
.task{
  margin-right: 20px;
}
.text{
  margin-right: 10px;
  font-size: 14px;
  color: #356EFF;
}
.btn{
  padding: 5px;
  border: 1px solid #c2bebf;
  margin: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  &.active{
    background: #356EFF;
    color:white;
    border: 1px solid #c2bebf;
  }
  &:hover{
    border: 1px solid black;
  }
}