.wrap{
  display: flex;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  .wrap_input{
    width: 100%;
    display: flex;
  }
  input{
    width: calc(100% - 44px);
    padding: 14px;
    border-radius: 29px;
    margin-right: 8px;
    &:active,&:focus {
      outline: inherit;
      cursor: pointer;
    }
  }
  button{
    padding: 10px;
    background: #356EFF;
    color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-flex;
    cursor: pointer;
    span{
      font-size: 32px;
      line-height: 0;
      width: 28px;
      height: 5px;
      pointer-events: none;
    }
  }
  &.error{
    input{
      border: 1px solid #ff5246;
    }
    .text{
      display: inline-block;
      color: #ff5246;
      font-size: 12px;
      margin: 20px 0;
    }
  }
}
.text{
  display: none;
  position: absolute;
  top: 20px;
  left:0;
}